<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.ronin.exifutility" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ExifUtility</name>

    <js-module name="ExifUtility" src="www/ExifUtility.js">
        <clobbers target="cordova.plugins.ExifUtility" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ExifUtility">
                <param name="ios-package" value="CDVExifUtility" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVExifUtility.m" />
    </platform>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ExifUtility"><param name="android-package" value="org.ronin.exifutility.ExifUtility" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml">
        </config-file><source-file src="src/android/ExifUtility.java" target-dir="src/org/ronin/exifutility/ExifUtility" />
    </platform>

</plugin>
