<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="org.ronin.cordova.exifreader"
      version="0.2.7">
    <name>ExifUtility</name>
    <description>Cordova Exif Utility Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,exif</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/exifutil.js" name="exifutil">
        <clobbers target="ExifUtil" /> 
    </js-module>
    
    <!-- android
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Battery" >
                <param name="android-package" value="org.apache.cordova.batterystatus.BatteryListener"/>
            </feature>
        </config-file>
        <source-file src="src/android/BatteryListener.java" target-dir="src/org/apache/cordova/batterystatus" />
    </platform>
-->

    <!-- ios -->
    <platform name="ios">
        <feature name="ExifUtil">
            <param name="ios-package" value="ExifUtil"/>
        </feature> 
        <header-file src="src/ios/exifutil.h" />
	    <source-file src="src/ios/exifutil.m" />
    </platform>

</plugin>
